{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Form Promo</title>
{% endblock meta %}

{% block content %}
    <div class = "promo-container">
        
        {% for x in posts %}
        {{x.namaPromo}}
        {{x.gambarPromo}}
        {{x.detailsPromo}}
        {{x.tanggalExp}}
        {% endfor %}
    </div>
{% endblock content %}

<!-- <html>
    <head>
        <title>
            List Promo
        </title>
    </head>
    <body>
        {% for x in posts %}
        {{x.namaPromo}}
        {{x.gambarPromo}}
        {{x.detailsPromo}}
        {{x.tanggalExp}}
        {% endfor %}
    </body>
</html> -->