{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Atur Konten</title>
{% endblock meta %}

{% block content %}
<style>
  #id_judulKonten{
    width: 100%
  }
  #id_isiKonten{
    width: 100%
  }
  #id_thumbnail{
    width: 100%
  }
  .font-title{
    font-size: 19px;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
  a:hover{
    color:black;
  }
  .content-button{
    display: flex;
    justify-content: center;
  }
  .content-form{
    display: flex; 
    flex-direction: column; 
    justify-items: center;
    gap: 23px
  }
  .content-list{
    display: flex;
    gap: 23px;
    flex-wrap: wrap;
  }
  .font-content{
    font-size: 18px;
    font-family: Serif;
    color: rgb(53, 53, 53);
    text-decoration: none;
  }
  .not-visible{
      display: none;
  }
  .item{
      text-decoration: none;
  }
  .content-img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
  }
</style>
<div class="row flex-lg-nowrap text-black mt-4">
  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="tab-content pt-3;">
                <div class="tab-pane active">
                  <form class="form" method="POST" action="">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col">
                        <div class="row mb-4">
                            <div class="col">
                              <div class="form-group">
                                <label>Content Title</label>
                                <br>
                                {{form.judulKonten}}
                              </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                              <div class="form-group">
                                <label>Description</label>
                                <br>
                                {{form.isiKonten}}
                              </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                              <div class="form-group">
                                <label>Thumbnail</label>
                                <br>
                    	        {{form.thumbnail}}
                             </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col d-flex justify-content-start">
                        <a href="{% url 'aturKonten' %}">
                          <button class="btn btn-primary" type="button">Back</button>
                        </a>
                      </div>
                      <div class="col d-flex justify-content-end">
                        <button class="btn btn-primary" type="submit" onclick="return confirm('Are tou sure?');">Add Content</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}