{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Welcome to Needs O Beauty Official Page</title>
{% endblock meta %}

{% block content %}
<style>
    .box{
        width: 75%;
        background-color: #F5D6D0;
        margin: auto;
        text-align: center;
        padding: 50px;
    }
    .container {
        display: flex;
        justify-content: left;
        align-items: center;
        margin: auto;
        width: 100%;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .card {
        margin-bottom: 2rem;
        box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
        border-radius: 6px;
        border: 1px solid #E3E8EF;
    }
    .card-img-top {
        object-fit: cove;
        width: 17.91rem;
        height: 18rem;
    }
</style>

<div>
    <h2 style="font-size:25px; text-align: center;">WELCOME TO</h1><br> 
    <h1 style="text-align:center; font-size: 30px;font-weight: bold;">NEEDS O BEAUTY WEBSITE</h1>
    <br>
    <div class="box">
        <h3>About Us</h3>
        <p>Needs-O Beauty is a brand engaged in the beauty sector. Our products focus not only on outer beauty, but also on inner beauty. Through this site, we introduce various kinds of products that have helped our customers in overcoming skin problems, as well as various articles as references in caring for your skin.</p>
        <p>Our products have been committed to producing pure and healthy products for your convenience. With our reliable experience, we produce our own formula that can give freshness to your skin.</p>
    </div>
    <hr>
    {% if isAdmin %}
    <div class="row" style="padding:13px">
        <div class="col d-flex justify-content-center">
        </div>
        <div class="col d-flex justify-content-center">
            <h2 style="font-size:25px; text-align: center;">Beauty Content</h2>
        </div>
        
        <div class="col d-flex justify-content-end">
            <a href="/aturKonten">
                <button class="btn btn-primary" type="button">Edit Content</button>
            </a>
        </div> 
    </div>
    {% else %}
    <h2 style="font-size:25px; text-align: center;">Beauty Content</h2>
    {% endif %}
    
    <p style="text-align:center; font-size: 15px;">Increase your beauty knowledge and confidence through our article resources</p>
    
    <div class="container">
        {% for x in posts %} 
      <div class="card" style="width: 18rem; height: auto">
        <div class="img-cover">
          <img class="card-img-top" src="{{x.thumbnail}}" alt="Card image cap">
        </div>
          <div class="card-body" style="gap: 12px;">
            <p class="card-title" >{{x.judulKonten}}</p>
            <a href="konten/{{x.idKonten}}" class="btn btn-primary">Detail</a>
          </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock content %}

