{% extends 'base.html' %}
{% block meta %}

<meta charset="utf-8">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
<title>Contact List - Needs O Beauty</title>
<style>
    #map {
        width: 100%;
        height: 150%;
        overflow: visible;
        padding-bottom: 300px;
    }

    .marker_location {
        font-family: Arial;
        padding-left: 10px;
        padding-bottom: 10px;
        padding-top: 5px
    }

    pre {
        white-space: pre-wrap;
        /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;
        /* Mozilla, since 1999 */
        white-space: -pre-wrap;
        /* Opera 4-6 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        word-wrap: break-word;
        /* Internet Explorer 5.5+ */
    }
    .title-button{
    text-align: center;
    padding: 1rem;
  }
  
    .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .card {
    margin-bottom: 2rem;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 6px;
    border: 1px solid #E36387;
    }

  .card-title{
    font-weight: 700;
    font-size: 18px;
  }

  .custom-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 3em;
    font-weight: 700;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
  }
  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #E36387;
    --bs-btn-border-color: #E36387;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #dd3968;
    --bs-btn-hover-border-color: #dd3968;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #dd3968;
    --bs-btn-active-border-color: #dd3968;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #E36387;
    --bs-btn-disabled-border-color: #E36387;
}
</style>
{% endblock meta %}
{% block content %}

<div class="title-button">
    <h1 style="font-weight: 700; color: #E36387; ">Contact Cabang</h1>
  </div>
    <!-- Button trigger modal -->
    <div class="custom-btn">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Create Contact
    </button>
</div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Contact</h5>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <label>Nama</label>
                        <input id="nama" type="text" name="nama" class="form-control">
                        <label>Alamat</label>
                        <input id="alamat" type="text" name="alamat" class="form-control" placeholder="Silakan pilih alamatmu melalui map!">
                        <button type="button" id="buttonModal" class="btn btn-primary" data-toggle="modal"
                            data-target=".bd-example-modal-lg">Open Map</button>
                        <br>
                        <label>No Telp</label>
                        <input id="no_telpon" type="text" name="no_telpon" class="form-control" placeholder="+6281292929">
                        <label>Email</label>
                        <input id="email" type="text" name="email" class="form-control" placeholder = "abc@gmail.com" >
                        <button data-dismiss="modal" id="button" type="button" class="btn btn-primary">Save
                            changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <div class="modal fade bd-example-modal-lg" id="modalID" tabindex="-1" role="dialog"
                            aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <pre class="marker">Move marker to your location</pre>
                                    <pre class="marker">Marker Location:</pre>
                                    <pre class="marker_location" id="marker_loc"></pre>
                                    <div id="map"></div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="btnmodal">Save Location</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div class="container" id="cardA">
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        async function getWishlist() {
            return fetch("{% url 'get_kontak_json' %}").then((res) => res.json())
        }

        async function refreshWishlist() {
            document.getElementById("cardA").innerHTML = ""
            const wishlist = await getWishlist()
            let htmlString = ``
            wishlist.forEach((item) => {
                htmlString += `\n<div class="card" style="width: 14rem;">
          <div class="card-body" style="gap: 12px;">
                          <h5 class="card-title">${item.fields.nama}</h5>
              <p class="card-text">${item.fields.alamat}</p>
              <i class="bi bi-whatsapp"></i>
              <a href = "https://wa.me/${item.fields.no_telpon}" target="_blank">Whatsapp</a>
              <br>
              <a href = "mailto: ${item.fields.email}" target="_blank">Send Email</a>
          </div>
      </div>`
            })

            document.getElementById("cardA").innerHTML = htmlString
        }

        function addWishlist() {
            fetch("{% url 'add_kontak' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshWishlist)
            document.getElementById('nama').value = "";
            document.getElementById('email').value = "";
            document.getElementById('no_telpon').value = "";
            document.getElementById('alamat').value = "";
            return false
        }

        document.getElementById("button").onclick = addWishlist
        refreshWishlist()

        mapboxgl.accessToken = 'pk.eyJ1Ijoicmlja3lhbnRvd20iLCJhIjoiY2xiODU0MmdiMGhmODN3cXA3eTg2enBrMCJ9.JD29fmTv3CtOngV3AF4eVw';
        const marker_loc = document.getElementById('marker_loc');
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [106.8267861840825, -6.175813489916635],
            zoom: 14
        });

        const marker = new mapboxgl.Marker({
            draggable: true
        })
            .setLngLat([106.8267861840825, -6.175813489916635])
            .addTo(map);
        var lng = 0
        var lat = 0

        async function onDragEnd() {
            const lngLat = marker.getLngLat();
            lng = lngLat.lng
            lat = lngLat.lat
            const url = "https://api.mapbox.com/geocoding/v5/mapbox.places/" + lng + "," + lat + ".json?access_token=" + mapboxgl.accessToken;
            await fetch(url)
                .then(response => response.json())
                .then(json => {
                    var place = json.features[0].place_name;
                    marker_loc.innerHTML = place;
                    document.getElementById('alamat').value = place;
                });
        }

        marker.on('dragend', onDragEnd);

        map.addControl(
            new mapboxgl.GeolocateControl({
                showUserLocation: false
            })
        );

        $('#modalID').on('shown.bs.modal', function () {
            map.resize();
        });

        $( "#btnmodal" ).click(function() {
            $('.modal-backdrop').remove();
            $('#modalID').hide(); 
        })

    </script>
{% endblock content %}