<html>
  <head>
    <title>Form Katalog</title>
  </head>
  <body>
    
    <div>
      <h1>Add Katalog</h1>
      <form action='' method='POST'>
          <table>
          {% csrf_token %}
            <tr>
              <td>Judul Katalog:</td>
              <td>{{form.judulKatalog}}</td>
            </tr>
            <tr>
              <td>URL Thumbnail:</td>
              <td>{{form.thumbnail}}</td>
            </tr>
            <tr>
                <td>Deskripsi Katalog:</td>
                <td>{{form.deskripsiKatalog}}</td>
              </tr>
            <tr>
                <td>Harga Katalog:</td>
                <td>{{form.hargaKatalog}}</td>
            </tr>
          </table>
        </br><input type="submit" value="submit">
      </form>

      <!-- {% for message in messages %}
        {% if message.tags == 'success' %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script>
                $(document).ready(function(){
                    $("#myMessage").modal('show');

                });
            </script>
        {% endif %}
      {% endfor %}

        <div class="modal fade" id="myMessage" tabindex="-1" role="dialog" aria-labelledby="myMessageLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myMessageLabel"><i class="fas fa-biohazard"></i>&nbsp;&nbsp; Perfect!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="text-center text-success mt-3">
                            <i class="far fa-check-circle fa-6x"> </i>
                        </div>
                        <br>
                        <div class="mb-3">Katalog succesfully created!</div>
                    </div>
                
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" style="width:65px;">Close</button>
                    </div>
                </div>
            </div>
        </div> -->

  </body>
</html>