{% extends 'base.html' %}

{% load static %}

{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Catalog</title>
    <link
    rel="stylesheet"
    href="{% static 'css/katalog.css' %}"
    /> 
  </head>
  <body>
    <div class="title-button">
      <h1 style="font-weight: 700; color: #E36387; ">Catalog</h1>
    </div>
    <div class="container">
        {% for x in posts %} 
      <div class="card" style="width: 18rem;">
        <div class="img-cover">
          <img class="card-img-top" src="{{x.thumbnail}}" alt="Card image cap">
        </div>
          <div class="card-body" style="gap: 12px;">
            <p class="card-title" >{{x.judulKatalog}}</p>
            <p class="card-text">Rp.{{x.hargaKatalog}}</p>
            <p class="card-text-description">{{x.deskripsiKatalog}}</p>
            <a href="/katalog/{{x.idKatalog}}" class="btn btn-primary">Detail</a>
          </div>
      </div>
      {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <div class="custom-btn">
      <a href="{% url 'add_katalog' %}" class="btn btn-primary">Add Katalog</a>
    </div>
    {% endif %}
    <!-- <div class="custom-btn">
      <a href="{% url 'add_katalog' %}" class="btn btn-primary">Add Katalog</a>
    </div> -->
   </body>
</html>
{% endblock content %}
<!-- href="{% url 'detail_katalog' x.idKatalog%}" -->