{% extends 'base.html' %}

{% load static %}
{% block content %}

<html>
  <head>
    <title>Form Catalog</title>
    
<script>
  window.onload = function() {
    const btnsubmit = document.getElementById('submit-btn')
  
    btnsubmit.addEventListener('click', (e) => {
      console.log("deyuna cakep")
      // $("#exampleModal").modal('show');
      // e.preventDefault()
    })
  }
  </script>
  </head>
  <body>
    <!--Notification-->
    {% if success == "valid" %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <h4 class="alert-heading">Success!</h4>
      <p>New catalog has been saved</p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% elif success == "invalid" %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <h4 class="alert-heading">Aw, shot!</h4>
      <p>Failed to save catalog</p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <div style ="padding: 32px 72px">
      <div class="card text-center ">
          <div class="card-body  ">
            <h1 style="font-weight: 700; text-align: center; color: #E36387 ">Add Catalog</h1>

              <form action="" method="POST">
                  <div >
                      {% csrf_token %}
      
                      <label for="nama">Catalog Name:</label><br>
                      {{form.judulKatalog}} <br>
          
                      <br>
      
                      <label for="tempatBertugas" style="font-family: poppins;">URL Thumbnail:</label><br>
                      {{form.thumbnail}} <br>
      
                      <br>
             
                      <label for="asalUniversitas" style="font-family: poppins;">Price:</label><br>
                      {{form.hargaKatalog}} <br>
          
                      <br>
      
                      <label for="pesan" style="font-family: poppins;">Description:</label><br>
                      {{form.deskripsiKatalog}} <br>
          
                      <br>
      
                      <input class="btn btn-primary" id="submit-btn" type="submit" value="submit">
                      
                      <br>
                    </form>
                  </div>
                 
          </div>
      
      </div>
   
    <!-- <div>
      <h1>Add Catalog</h1>
      <form method="POST">
          <table>
          {% csrf_token %}
            <tr>
              <td>Catalog Name:</td>
              <td>{{form.judulKatalog}}</td>
            </tr>
            <tr>
              <td>URL Thumbnail:</td>
              <td>{{form.thumbnail}}</td>
            </tr>
            <tr>
                <td>Add Description:</td>
                <td>{{form.deskripsiKatalog}}</td>
              </tr>
            <tr>
                <td>Price:</td>
                <td>{{form.hargaKatalog}}</td>
            </tr>
          </table>
        </br><input class="btn btn-primary" id="submit-btn" type="submit" value="submit">
      </br><input class="btn btn-primary" id="submit-btn" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal" value="submit"> -->
      

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"}>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  </body>
</html>

{% endblock content %}
